.DS_Store
datadump
csvToJson/browsers.csv
csvToJson/sept-lookup-out.json
csvToJson/sept-lookup.csv
csvToJson/september2023-out.json
csvToJson/september2023.csv-out.csv
csvToJson/visitorlist.csv
csvToJson/visitorlist.json
csvTransformer/browsers.csv
csvTransformer/browsers.json
csvTransformer/input.csv
csvTransformer/input.csv
csvTransformer/input.csv
csvTransformer/output.csv
csvTransformer/september2023.csv
csvTransformer/september2023.csv-out.csv
gptLookupFile/browserprompt.txt
gptLookupFile/browsers.json
gptLookupFile/browsers.txt
gptLookupFile/browsers_id-out.json
gptLookupFile/browsers_id-out_debug.json
gptLookupFile/browsers_id.json
gptLookupFile/browsers_short-out.json
gptLookupFile/browsers_short.json
gptLookupFile/browsers_short_debug.json
gptLookupFile/browsersinput.json
gptLookupFile/sept-lookup-out.json
jsonMerger/browser-years.json
jsonMerger/browsersmerged.json
jsonMerger/sept-lookup-out-out.json
jsonMerger/sept23-merged.json
jsonMerger/september2023-out.json
jsonMerger/visitorlist.json
jsonToCsv/output-out.csv
jsonToCsv/output.json
jsonToCsv/sept23-merged-out-out.csv
jsonToCsv/sept23-merged-out.json
jsonTransformer/browsersmerged.json
jsonTransformer/sept23-merged-out.json
jsonTransformer/sept23-merged.json
